*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* header */
.navigation a{
  position: relative;
  color: #fff;
  font-size: 16px;
  margin-left: 40px;
  text-decoration: none;
}

.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  background: #fff;
  height: 3px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

/* loginpage */
.form-login, .form-signup{
  background-color: rgba(68, 68, 68, 0.7);
}

.form-signup{
  height: 520px;
}

/* listMovie */
.showing-container, .upcoming-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

.movieSlider{
  display: grid;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 2rem 0;
}

.movieItem {
  width: 300px; 
  height: 400px; 
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.movieItem:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}

.movieItem:not(:hover) {
  opacity: 0.8;
  transform: scale(1);
  z-index: 1;
}

.object-cover{
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.name{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
}

.btnDetail{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btnDetail:hover {
  opacity: 1;
}

.btnLeft, .btnRight{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform-origin: center;
  background-color: rgba(0, 0, 0, 0.65);
  height: 90px;
  width: 50px;
  border-radius: 0.2rem;
  color: #ccc;
  transform: translateY(-20%);
  cursor: pointer;
  z-index: 20;
}

.btnLeft:hover, .btnRight:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.btn_gototop{
  position: fixed;
  z-index: 10;
  right: 40px;
  bottom: 50px;
  color: rgba(0, 0, 0, 0.6);
}
.btn_gototop:hover{
  color: rgba(0, 0, 0, 1);
}

/* checkout page*/
.showcase li {
  display: flex;
  align-items: center;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  transform: rotateX(-48deg);
  box-shadow: 0 10px 10px rgb(221, 221, 221);
  align-items: center;
}

.movieInfo {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -10px 5px 10px rgb(221, 221, 221);
}

.seatStructure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seatList{
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat{
  background-color: #ffffff;
  height: 28px;
  width: 28px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: small;
  padding-top: 4px;
}

.seat.vip{
  background-color: rgb(234 179 8);
}

.seat.selected{
  background-color: rgb(34 197 94);
}

.seat.sold {
  background-color: #ff0000;
}

.seatDetail.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 3px;
}

.row{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 11px;
}

.seat:not(.sold):hover{
  cursor: pointer;
  transform: scale(1.1);
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
}

.form-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  width: 250px;
}
